extends layout
block append content
   script(type='text/javascript' src='/modules/echarts.min.js')
   script(type='text/javascript')
       |  window.onload = setupRefresh;
       |  function setupRefresh()
       |  {
       if((skyconditions > 4 && day) || (day && rainStormRate > 0))
          |$('body').css('background', 'url("/images/cloudybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       else if((skyconditions > 4 && !day) || (!day && rainStormRate > 0))
          |$('body').css('background', 'url("/images/cloudynightbackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       else if(day)
          |$('body').css('background', 'url("/images/sunnybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#000000');
       else
          |$('body').css('background', 'url("/images/starrybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       |  }
       |  function getURL(){
       |     var url = location.href;
       |     var idx = url.indexOf('?')
       |     if (idx !== -1)
       |        url = url.substring(0,idx);
       |     idx = url.lastIndexOf('/');
       |     url = url.substring(0,idx);
       |     return url;
       |  }
       |  function conditions(){
       |     window.location = getURL()+"/";
       |  }
   body()
       table(cellspacing=0,cellpadding=0)
         tr
           td(width="90%")
             #chart.chart(style="width: 900px; height: 180px;")
             #chart2.chart(style="width: 900px; height: 180px;")
             #chart3.chart(style="width: 900px; height: 180px;")
            td(width="10%",style='vertical-align: top;')
             img(src='/images/weathersitelogo.png')
           
       div#buttons
          button.button(onClick='conditions()') Conditions      
       div#charts(style='display: block; height: 700px;')
          script.
            var chartoptions = !{data}
            var chart = echarts.init(document.getElementById('chart'));
            chart.setOption(chartoptions);
            chartoptions = !{data2}
            var chart2 = echarts.init(document.getElementById('chart2'));
            chart2.setOption(chartoptions);        
            chartoptions = !{data3}
            var chart3 = echarts.init(document.getElementById('chart3'));
            chart3.setOption(chartoptions);    
                   