doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='prefetch',href='#{zoominradarimage}')
    link(rel='prefetch',href='#{zoomoutradarimage}')
    script
      |if (!window.jQuery) document.write('<script src="/modules/jquery.min.js"><\/script>');
    script
      if((skyconditions > 4 && day) || (day && rainStormRate > 0))
         |$('body').css('background', 'url("/images/cloudybackground.jpg") no-repeat bottom fixed');
         |$('body').css('background-size', 'cover');
         |$('.fontcolor').css('color','#ffffff');
       else if((skyconditions > 4 && !day) || (!day && rainStormRate > 0))
          |$('body').css('background', 'url("/images/cloudynightbackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
      else if(day)
         |$('body').css('background', 'url("/images/sunnybackground.jpg") no-repeat bottom fixed');
         |$('body').css('background-size', 'cover');
         |$('.fontcolor').css('color','#000000');
      else
         |$('body').css('background', 'url("/images/starrybackground.jpg") no-repeat bottom fixed');
         |$('body').css('background-size', 'cover');
         |$('.fontcolor').css('color','#ffffff');
      
  block content  
 