doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script
      |if (!window.jQuery) document.write('<script src="/modules/jquery.min.js"><\/script>');
  block content  
 