doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script
      |if (!window.jQuery) document.write('<script src="/modules/jquery.min.js"><\/script>');
      if(cloudy)
         |$('body').css('background', 'url("/images/cloudybackground.jpg") no-repeat bottom fixed');
         |$('body').css('background-size', 'cover');
         |$('.fontcolor').css('color','#ffffff');
      else if(day)
         |$('body').css('background', 'url("/images/sunnybackground.jpg") no-repeat bottom fixed');
         |$('body').css('background-size', 'cover');
         |$('.fontcolor').css('color','#000000');
      else
         |$('body').css('background', 'url("/images/starrybackground.jpg") no-repeat bottom fixed');
         |$('body').css('background-size', 'cover');
         |$('.fontcolor').css('color','#ffffff');
      
  block content  
 