extends layout
block append content
   body()
     script(type='text/javascript')
       |  window.onload = setupRefresh;
       |  function setupRefresh()
       |  {
       |    setInterval("refreshRadar();",10*1000);
       |    setInterval("refreshTiles();",30*1000);
       if((skyconditions > 4 && day) || (day && rainStormRate > 0))
          |$('body').css('background', 'url("/images/cloudybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       else if((skyconditions > 4 && !day) || (!day && rainStormRate > 0))
          |$('body').css('background', 'url("/images/cloudynightbackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       else if(day)
          |$('body').css('background', 'url("/images/sunnybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#000000');
       else
          |$('body').css('background', 'url("/images/starrybackground.jpg") no-repeat bottom fixed');
          |$('body').css('background-size', 'cover');
          |$('.fontcolor').css('color','#ffffff');
       |  }
       |  function refreshTiles()
       |  {
       |     $('#floatingtiles').load("./tileconditions");
       |  }
       |  function refreshRadar()
       |  {
       |     $('#radarblock').load("./radarrefresh");
       |  }
       |  function getURL(){
       |     var url = location.href;
       |     var idx = url.indexOf('?')
       |     if (idx !== -1)
       |        url = url.substring(0,idx);
       |     idx = url.lastIndexOf('/');
       |     url = url.substring(0,idx);
       |     return url;
       |  }
       |  function conditions(){
       |     window.location = getURL()+"/";
       |  }
