extends layout
block append content
     script
        | if (zoom == 0){
        |    $(".uparrow").attr('src','/images/UpArrowTransparent.png');
        |    $(".downarrow").attr('src','/images/DownArrowTransparent.png');
        |    $(".radartile").css('background-image', 'url("!{zoominradarimage}")')
        | }
        | else{
        |    $(".uparrow").attr('src','/images/UpArrowTransparent.png');
        |    $(".downarrow").attr('src','/images/DownArrowTransparent.png');
        |    $(".radartile").css('background-image', 'url("!{zoomoutradarimage}")')
        |}
     div#radarblock(style='display: block; height: 700px;')
        table(cellspacing=0,cellpadding=0,style='width: 85%')
          tr
            td(width="650px",height=550)
             div.radartile(style='display: block; left: 20px; top: 20px;')
             img.uparrow(src='/images/UpArrowTransparent.png', onclick='uparrowclicked()')
             img.downarrow(src='/images/DownArrowTransparent.png', onclick='downarrowclicked()')
            td(style='text-align: center')
             img(src='/images/weathersitelogo.png')
             span.smaller(style = 'position: relative; left: -80px; top: -100px; color: #27485d;')
                |v#{weatherSiteVersion}
