block append content
       script.
         if (timeactive == 1){
            $('.floatingtimetile').show();
            $('.floatingsuntile').hide();
         }
         else{
            $('.floatingsuntile').show();
            $('.floatingtimetile').hide();
         }
       include suntile.jade  
