block append content
       script.
         if (weathertile == 0){
            $('.floatingweathertile0').show();
            $('.floatingweathertile1').hide();
            $('.floatingweathertile2').hide();
            $('.floatingweathertile3').hide();
         }
         else
         if (weathertile == 1){
            $('.floatingweathertile1').show();
            $('.floatingweathertile0').hide();
            $('.floatingweathertile2').hide();
            $('.floatingweathertile3').hide();
         }
         else
         if (weathertile == 2){
            $('.floatingweathertile2').show();
            $('.floatingweathertile1').hide();
            $('.floatingweathertile0').hide();
            $('.floatingweathertile3').hide();
         }
         else
         if (weathertile == 3){
            $('.floatingweathertile3').show();
            $('.floatingweathertile1').hide();
            $('.floatingweathertile2').hide();
            $('.floatingweathertile0').hide();
         }
       
       include floatingtiles.jade  
