
.floatingsuntile{
	height: 150px;
	width: 150px;
	border-radius: 20%;
	background: white url("/images/suntimelogo.png") no-repeat center 44px;
	background-size: 65%;
	position: absolute;
	display: inline-block;
	border: 3px solid black;
	right: 20px;
	top: 20px;
	z-index: 2;
	
}
.floatingtimetile{
	height: 150px;
	width: 150px;
	border-radius: 20%;
	background-color: white;
	background-size: 65%;
	position: absolute;
	display: none;
	border: 3px solid black;
	right: 20px;
	top: 20px;
	z-index: 2;
	
}
.floatingweathertile0{
	height: 150px;
	width: 150px;
	border-radius: 20%;
	background: url("/images/DayIcons/skyconditions1.png") no-repeat center 40px;
	background-size: 65%;
	background-color: #7292c5;
	position: absolute;
	display: inline-block;
	border: 3px solid black;
	right: 20px;
	top: 190px;
	z-index: 2;
}
.floatingweathertile1{
	height: 150px;
	width: 150px;
	border-radius: 20%;
	background: url("/images/DayIcons/skyconditions1.png") no-repeat center 40px;
	background-size: 65%;
	background-color: #7292c5;
	position: absolute;
	display: inline-block;
	border: 3px solid black;
	right: 20px;
	top: 190px;
	z-index: 2;
}
.floatingweathertile2{
	height: 150px;
	width: 150px;
	border-radius: 20%;
	background: url("/images/DayIcons/skyconditions1.png") no-repeat center 40px;
	background-size: 65%;
	background-color: #7292c5;
	position: absolute;
	display: inline-block;
	border: 3px solid black;
	right: 20px;
	top: 190px;
	z-index: 2;
}
.floatingweathertile3{
	height: 150px;
	width: 150px;
	border-radius: 20%;
	background: url("/images/DayIcons/skyconditions1.png") no-repeat center 40px;
	background-size: 65%;
	background-color: #7292c5;
	position: absolute;
	display: inline-block;
	border: 3px solid black;
	right: 20px;
	top: 190px;
	z-index: 2;
}
.floatingmoontile{
	height: 150px;
	width: 150px;
	border-radius: 20%;
	background: black url("/images/moon4.gif") no-repeat center 34px;
	background-size: 55%;
	position: absolute;
	display: inline-block;
	border: 3px solid white;
	right: 20px;
	top: 360px;
	z-index: 2;
	
}
.moondetailtile{
	height: 150px;
	width: 150px;
	border-radius: 20%;
	background-color: black;
	position: absolute;
	display: inline-block;
	border: 3px solid white;
	right: 20px;
	top: 360px;
	z-index: 2;
	
}
.radartile{
	height: 550px;
	width: 650px;
	border-radius: 0%;
	background: no-repeat right;
	background-size: contain;
	position: absolute;
	display: inline-block;
	z-index: 2;
	
}
.uparrow{
	position: absolute;
	left: 550px;
	top: 165px;
	z-index: 3;
}


.downarrow{
	position: absolute;
	left: 550px;
	top: 275px;
	z-index: 3;
}

.fontcolor{
	color: #000000;
}
.fontcolorblack{
	color: #000000;
}

.fontcolorwhite{
	color: #ffffff;
}
.fontcolorgrey{
	color: #dddddd;
}
.compasspointer{
  position: absolute;
  display: inline-block;
}
.vertical { 
    border-left: 3px solid black; 
    height: 550px; 
} 
.bigblue{
    font: 25px sans-serif; font-weight: bold;
    color: #000000;
}
.bigblack{
	font: 25px sans-serif; font-weight: bold;
    color: #000000;
}
.biggerblack{
	font: 35px sans-serif; font-weight: bold;
    color: #000000;
}
.smallblack{
	font: 20px sans-serif; 
    color: #000000;
}
.big{
    font: 25px sans-serif; font-weight: bold;
}
.bigger{
	font: 35px sans-serif; font-weight: bold;
}
.small{
	font: 20px sans-serif; 
}
.smaller{
	font: 15px sans-serif; 
}
.smallerbold{
	font: 15px sans-serif;
	font-weight: bold; 
}
.button {
	width: 120px;
	position: absolute;
    top: 607px; 
    left: 20px;
    border-radius: 7px 7px 7px 7px;
	background-color: white;
	border: 3px solid black;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 650;
	letter-spacing: 1.3px;
    margin: 4px 2px;
    font-size: 14px;
}
.button:hover{
	background-color: #0066B3;
	
}
.button2 {
	width: 120px;
	position: absolute;
    top: 607px; 
    left: 150px;
    border-radius: 7px 7px 7px 7px;
	background-color: white;
	border: 3px solid black;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 650;
	letter-spacing: 1.3px;
    margin: 4px 2px;
    font-size: 14px;
}
.button2:hover{
	background-color: #0066B3;
	
}
.button3 {
	width: 120px;
	position: absolute;
    top: 607px; 
    left: 280px;
    border-radius: 7px 7px 7px 7px;
	background-color: white;
	border: 3px solid black;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 650;
	letter-spacing: 1.3px;
    margin: 4px 2px;
    font-size: 14px;
}
.button3:hover{
	background-color: #0066B3;
	
}
.genericbutton {
	width: 120px;
    border-radius: 7px 7px 7px 7px;
	background-color: white;
	border: 3px solid black;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 650;
	letter-spacing: 1.3px;
    margin: 4px 2px;
    font-size: 14px;
}
.genericbutton:hover{
	background-color: #0066B3;
	
}
.chart{
	display: inline-block;
	background-color: rgba(128,128,128,0.5);
	border: 3px solid black;
	border-radius: 10px 10px 10px 10px;
}
