
table#conditionstable tr td {
  border-left: 3px solid black;
  color: black
}

.compass{
  display: block;
  margin-right: auto;
  width: 500px;
}
.compasspointer{
  position: absolute;
  display: inline-block;
}
.highlight{
    font-weight: bold;
    font-size: 45px;
    color: #0087CC;
}
.vertical { 
    border-left: 3px solid black; 
    height: 550px; 
} 
.bigblue{
    font: 25px sans-serif; font-weight: bold;
    color: #54a2c7;
}
.bigblack{
	font: 35px sans-serif; font-weight: bold;
	color: #19516b;
}
.smallblack{
	font: 20px sans-serif; 
	color: #19516b;
}
