.floatingsuntile{
	height: 150px;
	width: 150px;
	border-radius: 20%;
	background: white url("/images/suntimelogo.png") no-repeat center 44px;
	background-size: 65%;
	position: absolute;
	display: inline-block;
	border: 3px solid black;
	right: 20px;
	top: 20px;
	z-index: 2;
	
}
.floatingweathertile{
	height: 150px;
	width: 150px;
	border-radius: 20%;
	background: url("/images/DayIcons/skyconditions1.png") no-repeat center 44px;
	background-size: 65%;
	background-color: #7292c5;
	position: absolute;
	display: inline-block;
	border: 3px solid black;
	right: 20px;
	top: 190px;
	z-index: 2;
	
}
.floatingmoontile{
	height: 150px;
	width: 150px;
	border-radius: 20%;
	background: black url("/images/moon4.gif") no-repeat center 34px;
	background-size: 55%;
	position: absolute;
	display: inline-block;
	border: 3px solid white;
	right: 20px;
	top: 360px;
	z-index: 2;
	
}
.fontcolor{
	color: #000000;
}
.fontcolorblack{
	color: #000000;
}

.fontcolorwhite{
	color: #ffffff;
}
.compasspointer{
  position: absolute;
  display: inline-block;
}
.vertical { 
    border-left: 3px solid black; 
    height: 550px; 
} 
.bigblue{
    font: 25px sans-serif; font-weight: bold;
    color: #000000;
}
.bigblack{
	font: 25px sans-serif; font-weight: bold;
    color: #000000;
}
.biggerblack{
	font: 35px sans-serif; font-weight: bold;
    color: #000000;
}
.smallblack{
	font: 20px sans-serif; 
    color: #000000;
}
.big{
    font: 25px sans-serif; font-weight: bold;
}
.bigger{
	font: 35px sans-serif; font-weight: bold;
}
.small{
	font: 20px sans-serif; 
}
.smaller{
	font: 15px sans-serif; 
}
.smallerbold{
	font: 15px sans-serif;
	font-weight: bold; 
}
